/* * {
    outline: 1px solid red; 
} */ /* Debugging-Rahmen um alle Elemente */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Schriftart */
}

html {
    scroll-behavior: smooth; /* Setzt das Scrollverhalten auf weich */

}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0; /* Oben kein Abstand */
}

body {
    color: black; /* Farbe auf Schwarz*/
    margin: 0; /* Kein Seitenrand */
}

/* ------------------PROGRESSBAR------------------ */

.progressbar {
    top: 0;
    position: fixed;
    width: 100%;
    height: .5rem;
    padding-bottom: 1.6rem;
    backdrop-filter: blur(2px); /* Hintergrundunschärfe */
    z-index: 1; /* Über anderen Inhalten */
}

.filled {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #CB1517, #cb1552); /* Farbverlauf */
}

/* ------------------NAVBAR------------------ */

.burgermenu {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4); /* Schatteneffekt */
    background: linear-gradient(to right, #CB1517, #cb1552);
    padding: .9rem;
    margin: 1rem .8rem;
    border-radius: .3rem;
    font-weight: 700;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
}

.menucontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burgermenu a {
    color: white;
    height: 100%;
    padding: 0 .4rem .25rem .4rem;
    margin: 0 .4rem;
    align-items: center;
    text-decoration: none;
    font-size: x-large;
    transition: all .3s ease;
    border: 2px solid transparent;
}

.burgermenu a:hover {
    border-radius: .3rem;
    border: 2px solid white;
}

#menuactive {
    display: none;
}

.openmenu,
.closemenu {
    display: none;
}

.navlogos .logo {
    position: fixed;
    margin: 1.5rem 0 0 1rem;
    max-height: 3rem;
    float: left;
    cursor: pointer;
    z-index: 2;
}

.navlogos .motorcyclist {
    position: fixed;
    margin: 2rem 0 0 4.5rem;
    max-height: 2.3rem;
    float: left;
    cursor: pointer;
    z-index: 2;
}

/* ------------------MAIN------------------ */

.videodiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    z-index: -2;
}

.masthead {
    height: 100vh;
    max-width: 100%;
}

video::-webkit-media-controls {
    display: none;
}

.masthead h1 {
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85vh;
    z-index: -1;
    font-size: 3.5rem;
    max-width: 100%;
}

.masthead img {
    position: fixed;
    width: 70px;
    height: auto;
    top: 70vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#content {
    z-index: 1;
    background-color: white;
}

@media (min-aspect-ratio: 16/9) {
    video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
}

/* ------------------LICENSE FILTER------------------ */

.filter {
    margin: 0 1rem;
    padding-top: .5rem;
}

.licensefilter {
    position: sticky;
    top: 6.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    background: linear-gradient(to right, #a3a3a3, #777777);
    margin: 1rem -.2rem;
    border-radius: .3rem;
    font-weight: 700;
    user-select: none;
    -webkit-user-select: none;
}

.licensefilter ul{
    padding: .3rem 0;
    margin: 0;
    text-align: center;
}

.licensefilter li {
    display: inline;
    margin-right: 1rem;
    padding: 0 .4rem .25rem .4rem;
    transition: all .3s ease;
    border: 2px solid transparent;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    appearance: none;
    content: url(assets/check.png);
    height: 15px;
    width: 15px;
}

.licensefilter li:hover {
    cursor: pointer;
    border: 2px solid white;
    border-radius: .3rem;
}
.licensefilter input:hover,
.licensefilter label:hover {
    cursor: pointer;
}

/* ------------------BIKE GRID------------------ */

.main .bikescontainer .brandtitle {
    display: block;
    margin: 0;
}

.bikescontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 15px;
}

.bikescontainer div {
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    text-align: center;
    border: 2px solid transparent;
    border-radius: .3rem;
    padding: 1rem;
    min-height: 350px;
    text-decoration: none;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.bikescontainer div:hover {
    cursor: pointer;
    border: 2px solid black;
}

.bikescontainer .bikeimg {
    width: 15%;
    min-width: 150px
}

.bikescontainer a {
    color: black;
    text-decoration: none;
}

/* ------------------CONTACT FORM------------------ */

.contactcontainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
    border-radius: .3rem .3rem 0 0;
}

.contactform {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    background-color: rgb(33, 33, 33);
    border-radius: .3rem;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    margin-bottom: -6rem;
}

.contactform button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: larger;
    color: white;
    gap: 10px;
    border: none;
    border-radius: .3rem;
    background: linear-gradient(to right, #CB1517, #cb1552);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .3s ease;
}

.contactform button:hover {
    border: 2px solid white;
}

.contactform img {
    width: 25px;
}

.contacttitle {
    color: white;
    font-weight: 600;
    font-size: larger;
}

.contactinput {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    border-radius: .3rem;
    border: 2px solid transparent;
}

.contactinput:hover {
    box-shadow:rgba(255, 255, 255, .4);
}

.contactinput:focus {
    border: 2px solid #CB1517;
    box-shadow: 5px 5px rgba(255, 255, 255, .4);
}

.contactform textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: .3rem;
    resize: none;
}

.contactform p {
    color: lightgray;
    font-size: smaller;
    padding: 0;
}

/* ------------------BACK TO TOP------------------ */

.backtotop {
    position: fixed;
    transition: opacity .15s ease-in-out;
    opacity: 0;
    bottom: .5rem;
    right: .5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #CB1517, #cb1552);
    border-radius: .3rem;
}

.backtotop.show {
    opacity: 1;
}

.backtotop img {
    padding: .75rem;
    width: 30px;
}

.backtotop img:hover {
    transform: translateY(-3px);
}


/* ------------------MOBILE------------------ */

@media (max-width: 1100px) {
    .navlogos .motorcyclist {
        display: none;
    }
}

@media (max-width: 767px) {
    .burgermenu .mobile {
        display: none;
    }
    .burgermenu {
        justify-content: flex-end;
    }
    
    .bikescontainer {
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    }
    .bikescontainer .bikeimg {
        width: 15%;
        min-width: 100px
    }
    .bikescontainer div {
        min-height: 200px;
    }
    .bikescontainer h2,
    p {
        font-size: small;
    }

    .contactform {
        max-width: 80%;
        margin-bottom: -4rem;
    }
    .contactform input,
    .contactform textarea {
        max-width: 90%;
    }

    .backtotop {
        border-radius: 50%;
    }
}